.header {
    padding: 60px;
    text-align: center;
    background: #1119ff;
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
  }

  .content {
    width: 450px;
    padding: 5px;
    margin-top: 20px;
    text-align: left;
  }
  