/* Weather Dashbard Header */
.header {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    background: #0d1179;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  /* .content {
    width: 450px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  } */

  .card-container {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    /* flex-wrap: wrap; */
    margin-top: 20px; 
}

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
    background-color: #0d1179;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.container {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  /* flex-wrap: wrap; */
}
 
.btn-group {
  padding: 10px;
  font-size:20px;
}

.search-card {
  /* width: 300px; */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  margin-right: 20px; 
  margin-top: 20px; 
}

.search-card h1 {
  font-size: 22px;
  margin-bottom: 10px;
}

.search-card input[type="text"],
.search-card button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-card button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.search-card button:hover {
  background-color: #0056b3;
}

.city-buttons-container {
  margin-top: 10px;
}

.city-button:hover {
  background-color: #e6e6e6;
}
